/* styling admin */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
  }
  table {
  }
  th,
  td {
    @apply py-3 px-2.5 text-sm text-left border-y border-gray-200;
  }
  thead {
    @apply bg-neutral-100;
  }
  th {
    @apply font-semibold;
  }
  a {
    @apply text-sky-500 hover:underline;
  }
}

@keyframes countdownAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1);
    color: rgb(92, 10, 88); /* Ganti warna pada pertengahan animasi */
  }

  100% {
    transform: scale(1);
    color: rgb(70, 2, 55)(90, 8, 8); /* Kembalikan warna pada akhir animasi */
  }
}

/* Tambahkan pada komponen dengan kelas animate-countdown */
.animate-countdown {
  animation: countdownAnimation 1s linear infinite; /* Ganti durasi animasi sesuai keinginan */
}
